<div class="chat_conteiner">
    <div class="chat_list">
        <div class="chat_list_header">
            <div class="chat_link_wrapper">
                {{> link className="link__grey" href="/profile" text="Профиль  >" }}
            </div>
            {{> input name="chat_list_search" type="search" placeholder="Поиск"}}
        </div>
        <div class="chat_list_list">
            {{#each chat_list}}
                {{> chatlist_item }}
            {{/each}}
        </div>
    </div>
    <div class="chat">
        <p class="chat_no-chat-selected">Выберите чат, чтобы отправить сообщение</p>
    </div>
</div>