@use './../../variables' as *;

.chat_conteiner {
    position: absolute;
    left: 0;
    right: 0;
    min-height: 720px;
    display: flex;
    overflow: hidden;
    border: 1px $grey_borders;
}

.chat_list {
    background-color: $grey_background_light;
    border-right: 1px solid $grey_borders;
    flex: 30%;
    padding: 0 10px;
}

.chatting {
    flex:70%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
}

.chat_link_wrapper {
    padding: 16px 0;
    text-align: right;
}

.chat_list_header {
    border-bottom: 1px solid $grey_borders;
}

.chat-checker:checked {
    background-color: $background_active;
}

.chatting p {
    color: $grey_text_color;
}