@use '../../variables' as *;

.chatlist-item {
    border-bottom: 1px solid $grey_borders;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    height: 70px;
}

.chatlist-item_summary {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.chatlist-item_summary_first-row, .chatlist-item_summary_second-row {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    overflow: hidden;
}

.chatlist-item_summary_first-row {
    flex-grow: 1;
    align-items: center;
    white-space: nowrap;
    padding: 4px 0;
}

.chatlist-item_summary_second-row {
    flex-grow: 2;
    align-items: flex-start;
}

.chatlist-item_avatar_image-wrapper {
    width: 47px;
    height: 47px;
    overflow: hidden;
    border-radius: 50%;
}
.chatlist-item_avatar_imag {
    width: 100%;
    height: 100%;
}

.chatlist-item_unread-count {
    background-color: $main_color;
    color: #FFFFFF;
    font-size: 11px;
    line-height: 12px;
    padding: 4px;
    border-radius: 100px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    min-width: 18px;
}

.chatlist-item_message-slice {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 12px;
    line-height: 15px;
    color: $grey_text_color;
}

.chatlist-item_sender-name {
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
}

.chatlist-item_last-date-time {
    font-size: 9px;
    line-height: 13px;
    color: $grey_text_color;
}