<form class="profile_foto_upload_container">
    <input id="file-input" type="file" name="file">
    <label for="file-input">
        <div class="profile-foto_img-wrapper">
            <img class="profile-foto_img" src="{{ profile_foto_src }}" alt="profile photo">
            <div class="profile-foto_text">
                Поменять<br>аватар
            </div>
        </div>
    </label>
</form>
