<div class="sign_up">
    <h1 class="singup_title">Регистрация</h1>
    <form class="signup_form">
        <div class="signup_form__fields">
            {{#each signup_fields}}
                {{> input name=name label=label type=type placeholder=placeholder}}
            {{/each}} 
        </div>
        <div class="signup_form__buttons">
            {{> button text="Зарегистрироваться" }}
        </div>
    </form>
    {{> link className='link__blue' text='Войти?' href='/sign_in' }}
</div>