<div class="sign_in">
    <h1 class="sing-in_title">Вход</h1>
    
    {{> input name='login' label='Логин' type='text' placeholder=' '}}
    
    {{> button text='Авторизоваться'}}

    {{> link className='link__blue' text='Нет аккаунта?' href='/pages/sign_up' }}
</div>