$main_color: #3369F3;
$grey_text_color: #999999;
$red_text_color: #FF0000;
$dark_text_color: #1E1E1E;
$grey_background_light: #FBFBFB;
$grey_background_medium: #EFEFEF;
$background_active: #E4EDFD;
$grey_borders: #EAEAEA;
$main_font: 'Inter', sans-serif;
$font_size: 13px;