@use './src/pages/sign_in/style.scss' as sign_in;
@import './variables';


* {
    margin: 0;
    padding: 0;
}

body {
    font: normal 500 $font_size $main_font;
}

.main {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}