@use './src/pages/sign_in/style.scss' as sign_in;
@import './variables';


* {
    margin: 0;
    padding: 0;
}

body {
    font: normal 500 $font_size $main_font;
}

.sign_in, .sign_up {
    width: 340px;
    height: 450px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
}

.main {
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}