@use '../../variables' as *;

.link {
    text-decoration: none;
}

.link__blue {
    font-size: 11px;
    line-height: 11px;
    color: $main_color;
}

.link__grey {
    font-size: 12px;
    line-height: 12px;
    color: $grey_text_color;
}