<div class="error error_{{error_type}}">
    <h1 class="error_title">{{ error_type }}</h1>
    <p class="error_message">{{ error_message }}</p>
    {{> link className='link__blue' text='На главную' href='/sign_in' }}
</div>